<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark primary-color special-color-dark">
  <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-plane-departure"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item
        {% if '/' == request.path %}
          active
        {% endif %}
      ">
        <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> HOME
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item
          {% if '/search/' in request.path %}
            active
          {% endif %}
        ">
          <a class="nav-link" href="{% url 'search' %}"><i class="fas fa-search"></i> SEARCH
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item
          {% if '/history/' in request.path %}
            active
          {% endif %}
        ">
          <a class="nav-link" href="{% url 'history' %}"><i class="fas fa-history"></i> HISTORY
            <span class="sr-only">(current)</span>
          </a>
        </li>
      {% endif %}

      <li class="nav-item
        {% if 'about' in request.path %}
          active
        {% endif %}
      ">
        <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info"></i> ABOUT
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">
            <i class="far fa-user"></i> PROFILE
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i> LOGOUT
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt"></i> LOGIN
          </a>
        </li>
      {% endif %}
      
    </ul>
  </div>
</nav>
<!--/.Navbar -->