{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="white-background d-flex align-items-center justify-content-center border border-light animated p-3 m-4" >
  <div>
    <h1 class="content text-center mb-4">Warp Drive Home!</h1>
    
    <a href="{% url 'vehicles' %}"><button type="button" class="btn btn-danger">Vehicles</button></a>

    <a href="{% url 'engines' %}"><button type="button" class="btn btn-danger">Engines</button></a>
    

    <a href="#" class="btn btn-outline-danger" style="background-color: #C61C22">Propellers</a>
    
    </ul>
  </div>
</div>
{% endblock content %}

