{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="white-background d-flex align-items-center justify-content-center animated p-2 m-3" >
    
    <img src="{% static 'img/main_image.png' %}" alt="main_logo">
  </div>
<div class="white-background d-flex align-items-center justify-content-center animated p-3 m-4" >
  
  <div>

    <a style="color:white" href="{% url 'overall_stats' %}"><button type="button" class="btn" style="background-color: #818a91">Stats</button></a>

    <a style="color:white" href="{% url 'search' %}"><button type="button" class="btn" style="background-color: #818a91">Search</button></a>
    
    <a style="color:white" href="{% url 'databases' %}"><button type="button" class="btn" style="background-color: #818a91">Databases</button></a>    
  </div>
</div>
{% endblock content %}

