{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/cr-1.5.2/sc-2.0.2/sp-1.1.1/datatables.min.css"/>
{% endblock link %}

{% block content %}
  <h1 class="content text-center mb-4" style="color: #C61C22">Overall Stats</h1>
  <!-- Modal Buttons -->
  <div class="container text-center">
    <button
      type="button"
      class="btn btn-outline-danger btn-rounded"
      data-toggle="modal"
      data-target="#dataframe"
      data-whatever="@mdo"
    >
      <span style="color:#C61C22">Open Dataframe</span>
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-rounded"
      data-toggle="modal"
      data-target="#common_engines"
      data-whatever="@mdo"
    >
      <span style="color:#C61C22">Top 10 Engines</span>
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-rounded"
      data-toggle="modal"
      data-target="#common_vehicles"
      data-whatever="@mdo"
    >
      <span style="color:#C61C22">Top 10 Vehicles</span>
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-rounded"
      data-toggle="modal"
      data-target="#common_red_drives"
      data-whatever="@mdo"
    >
      <span style="color:#C61C22">Top 10 Reduction Drives</span>
    </button>
  </div>
  <!-- End Modal Buttons -->
  
  <!-- Modal Content -->
  <div
    class="modal fade"
    id="dataframe"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Propellers Dataframe</h5>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{ df | safe }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color: #C61C22">
            <span style="color:white">Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="common_engines"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Most Common Engines</h5>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{ most_common_engines | safe }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color: #C61C22">
            <span style="color:white">Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="common_vehicles"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Most Common Vehicles</h5>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{ most_common_vehicles | safe }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color: #C61C22">
            <span style="color:white">Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade text-center"
    id="common_red_drives"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Most Common Reduction Drives</h5>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{ most_common_red_drives | safe }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color: #C61C22">
            <span style="color:white">Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Content -->
  
  <hr>
  
  
  
  <div>
    <p>This information is based on all data within Propellers Database. To search for data using specific criteria click <a href="{% url 'search' %}"><b>here</b></a>
    </p>
  </div>

  
  
    
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/cr-1.5.2/sc-2.0.2/sp-1.1.1/datatables.min.js"></script>
  <script type="text/javascript" src="{% static 'js/results.js' %}"></script>
{% endblock script %}
