{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
  </form>
{% endblock %}


{% comment %} {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    {% if message.tags %} <
      p class="">{{ message }}</p>
    {% endif %}
  </div>
  {% endfor %}
{% endif %}

{% comment %} <form method="post" enctype="multipart/form-data">
  {% crsf_token %}
  <inppload CSV file {% endcomment %}

 {% comment %} <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form> {% endcomment %} 
