{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="white-background d-flex align-items-center justify-content-center border border-light animated p-3 m-4" >
  <div>
    <h1 class="content text-center mb-4">csv upload - Warp Drive</h1>

    <p>Hola upload por fin!</p> 
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn">Confirm</button>
    </form>

    <a style="color:white" href="{% url 'home' %}"><button type="button" class="btn" style="background-color: #C61C22">Home</button></a>

        
    </ul>
  </div>
</div>
{% endblock content %}

